.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-div {
  width: 350px;
  border: 1px solid #28a745;
  padding: 18px;
  border-radius: 15px;
}

.project-div img {
  width: 300px;
  height: 220px;
}
