.submit-btn {
  background-color: #ee5d43;
}
.contact-form {
  width: 650px;
  border: 2px solid #ee5d43;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .contact-form {
    width: 350px;
  }
}
