/* .main-container {
  background-color: #1f2235;
  color: white;
  position: relative;
  z-index: 9999;
  overflow-x: hidden;
} */
body {
  font-family: "Sora", sans-serif;
  background-color: #323538;
  color: #adbac7;
}

.span-txt {
  color: #ee5d43;
}
